<template>
  <div class="row col-12 q-pl-lg q-pr-lg" style="position: relative">
    <private-file-filter/>
    <private-file-container/>
    <file-progress-bar/>
  </div>
</template>

<script>
import PrivateFileFilter from './PrivateFileFilter/Index'
import PrivateFileContainer from './PrivateFileContainer/Index'
import AppSpinner from '../../Utils/AppSpinner'
import FileProgressBar from './PrivateFileContainer/FileProgressBar'

export default {
  name: 'PrivateFileDisplay',
  // eslint-disable-next-line vue/no-unused-components
  components: { FileProgressBar, AppSpinner, PrivateFileContainer, PrivateFileFilter }
}
</script>

<style scoped>

</style>
