<template>
  <div class="row col-12 q-pl-lg q-pr-lg ">
    <div class="row col-12 items-center q-ml-lg q-mr-lg">
      <div class="row col-3 q-mt-md q-mb-md">
        <q-list padding style="width: 100%">
          <div class="row items-center">
            <div class="row text-h5 text-bold q-mr-sm">{{ routeName }}</div>
          </div>
        </q-list>
      </div>
      <div class="row col-9">
        <q-list padding style="width: 100%">
          <div class="row justify-center">
            <div class="row text-h5 text-bold">Editor</div>
          </div>
        </q-list>
      </div>
    </div>
    <div class="row col-12 rounded-borders bg-grey-3 q-pa-sm">
      <div class="col-3">
        <note-drawer ref="noteDrawer" @activeNote="handleActiveNote"/>
      </div>
      <div class="col-9">
        <note-editor ref="noteEditor" @deleteNote="handleDeleteNote"/>
      </div>
    </div>
  </div>
</template>

<script>
import NoteDrawer from './NoteDrawer/Index'
import NoteEditor from './NoteEditor/Index'

export default {
  name: 'NoteDisplay',
  components: { NoteEditor, NoteDrawer },
  computed: {
    routeName () {
      return this.$route.meta.name
    }
  },
  methods: {
    handleActiveNote (note) {
      this.$refs.noteEditor.load(note)
    },
    handleDeleteNote () {
      this.$refs.noteDrawer.activeNote(null)
    }
  }
}
</script>

<style scoped>

</style>
