<template>
  <div class="row col-12 items-center">
    <div class="col-6 q-pl-md">
      <span class="text-h5 text-bold">{{ routeName }} <q-icon name="info" color="info" class="clickable" @click="handleClickLearnMore">
            <q-tooltip>
              Click to see how it works.
            </q-tooltip>
      </q-icon>
      </span>
    </div>

    <div class="col-6 row items-center justify-end q-pr-lg">

      <q-btn-toggle
        v-model="currentLayoutMode"
        toggle-color="dark"
        class="no-shadow q-mr-lg"
        :options="[
          {icon: 'widgets', value: 'thumbnail'},
          {icon: 'list', value: 'list'}
        ]"
      />

      <q-btn outline @click="currentVisibility = !currentVisibility"
             :icon="currentVisibility === true ? 'visibility_off' : 'visibility'" class="q-mr-lg"/>

      <q-btn outline icon="post_add" @click="openOtpModalToCreate"/>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
  name: 'OtpFilter',
  methods: {
    ...mapMutations('app', [
      'setTwoLayoutConfigVisibility',
      'setTwoLayoutConfigLayoutMode'
    ]),
    openOtpModalToCreate () {
      this.$root.$emit('openOtpModal', { id: null })
    },
    handleClickLearnMore () {
      window.open('https://blog.privakeeper.com/search/?s=2fa', '_blank')
    }
  },
  data () {
    return {
      dialogFlag: false
    }
  },
  computed: {
    ...mapState('app', [
      'twoLayoutConfig_layoutMode',
      'twoLayoutConfig_visibility'
    ]),
    routeName () {
      return this.$route.meta.name
    },
    currentLayoutMode: {
      get () {
        return this.twoLayoutConfig_layoutMode
      },
      set (val) {
        this.setTwoLayoutConfigLayoutMode(val)
      }
    },
    currentVisibility: {
      get () {
        return this.twoLayoutConfig_visibility
      },
      set (visibility) {
        this.setTwoLayoutConfigVisibility(visibility)
      }
    }
  }
}
</script>

<style scoped>

</style>
