<template>
  <div class="row col-12">
    <q-list padding style="width: 100%">
      <q-item>
        <q-item-section>
          <q-btn icon="add" flat class="col-12" @click="handleCreateNote"/>
        </q-item-section>
      </q-item>
      <q-scroll-area style="height: 60vh;">

        <q-item :active="activeNoteId === item.id"
                class="block rounded-borders q-mb-sm"
                :class="{ 'bg-primary text-white': activeNoteId === item.id, 'bg-grey-4': activeNoteId !== item.id }"
                @click="activeNote(item)"
                clickable :key="item.id"
                v-for="item in notesDataView">
          <q-icon
            @click="togglePin(item)" name="turned_in" :color="computeColor({itemId: item.id, itemPinned: item.pinned})"
            size="md"
            class="clickable absolute-top-right"
            :class="{'only-hover': item.pinned !== true}"
          >
            <q-tooltip><span v-if="item.pinned === true">Un-</span>Pin this note</q-tooltip>

          </q-icon>
          <q-item-section class="text-h6 col-12 ellipsis">
            {{ item.title }}
          </q-item-section>
          <q-item-section class="q-mt-md col-12 ellipsis" style="margin-left: 0px;">
            {{ item.plainContent }}
          </q-item-section>
          <q-item-section class="q-mt-md col-12" style="margin-left: 0px;">
            {{ new Date(item.createdAt).toLocaleTimeString() }} - {{ new Date(item.createdAt).toLocaleDateString() }}
          </q-item-section>
        </q-item>
      </q-scroll-area>

    </q-list>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'NoteDrawer',
  computed: {
    ...mapGetters('app', [
      'notesDataView'
    ]),
    activeNoteId () {
      return this.activeNoteObject ? this.activeNoteObject.id : null
    }
  },
  data () {
    return {
      activeNoteObject: null
    }
  },
  methods: {
    ...mapActions('app', [
      'updateNote',
      'createNote'
    ]),
    computeColor ({ itemId, itemPinned }) {
      if (this.activeNoteId === itemId && itemPinned === true) return 'dark'

      if (itemPinned === true) return 'dark'

      return 'white'
    },
    activeNote (note) {
      this.activeNoteObject = note
      this.$emit('activeNote', note)
    },
    handleCreateNote () {
      const data = {
        content: 'None',
        title: 'Untitled'
      }

      this.createNote(data).then((note) => {
        console.log(note)
        this.activeNote(note)
      })
    },
    togglePin (note) {
      console.log(note)
      this.updateNote({
        id: note.id,
        data: {
          title: note.title,
          content: note.content,
          pinned: !note.pinned
        }
      }).then(note => this.activeNote(note))
    }
  }
}
</script>

<style scoped>
  div.q-item > i.only-hover {
    visibility: hidden;
  }

  div.q-item:hover > i.only-hover {
    visibility: visible;
  }
</style>
