<template>
  <div @click="handleClick" class="row col-3 items-center q-pa-md rounded-borders"
       :style="
       `border: 1px solid white;
       height: 320px;
       min-width: 200px;
       max-width: 240px;
       position: relative;
       background: ${$options.filters.randomColorGradient(computedColorSeed)}!important;
       `
       "
       :class="{'clickable' : object.url !== ''}"
  >
    <q-btn v-if="object.url !== ''" icon="open_in_new" class="absolute-top-right" color="white" flat dense>
      <q-tooltip>Click to launch {{object.url}}</q-tooltip>
    </q-btn>

    <div class="col-11 row text-white q-mb-lg" >
      <div class="col-12 text-h6 text-bold ellipsis">
        {{ object.title ? object.title : 'Untitled' }}
      </div>
      <div class="col-12 ellipsis">
        {{ object.account ? object.account : 'Untitled' }}
      </div>
    </div>

    <div class="row col-12 text-center justify-center q-mb-lg icon">
      <q-icon name="locker" class="text-white" size="60px"/>

    </div>

    <div class="col-12 row text-white q-mb-lg">
      <div class="col-12 text-h4 text-center ellipsis">
        {{passwordLayoutConfig_visibility === true ? computedCode : '*********'}}
      </div>
    </div>

    <div class="col-12 row items-center justify-center">
      <q-btn v-clipboard="computedCode" @click="handleCopy($event)" class="q-mr-sm" outline color="white" size="sm"
             :icon="copied === false ? 'file_copy' : 'check'"
             :disable="copied"
      >
        <q-tooltip>Copy this password</q-tooltip>
      </q-btn>
      <q-btn @click="handleEdit($event)" class="q-mr-sm" outline color="white" size="sm" icon="edit"/>
      <q-btn @click="handleDelete($event)" outline color="white" size="sm" icon="delete"/>
    </div>
  </div>
</template>

<script>
import RandomColor from 'randomcolor'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'PasswordThumbnail',
  props: {
    object: {
      type: Object,
      default: () => {
      }
    }
  },
  data () {
    return {
      copied: false
    }
  },
  filters: {
    randomColor (seed) {
      return RandomColor({ seed, luminosity: 'light' })
    },
    randomColorGradient (seed) {
      let startColor = RandomColor({ seed, luminosity: 'bright', hue: 'blue' })
      let endColor = RandomColor({ seed, luminosity: 'dark' })
      return `linear-gradient(120deg, ${startColor}, ${endColor})`
    }
  },
  computed: {
    ...mapState('app', [
      'passwordLayoutConfig_visibility'
    ]),
    computedColorSeed () {
      return `${this.object.id}${this.object.createdAt}`
    },
    computedCode () {
      return this.object.password
    }
  },
  methods: {
    ...mapActions('app', [
      'deletePasswordSeed'
    ]),
    stop ($event) {
      $event.preventDefault()
      $event.stopPropagation()
    },
    handleClick () {
      if (this.object.url) {
        let url = this.object.url
        if (url.indexOf('http://') !== 0 && url.indexOf('https://') !== 0) return window.open(`http://${url}`, '_blank')
        return window.open(url, '_blank')
      }
    },
    handleEdit ($event) {
      this.stop($event)
      this.$root.$emit('openOtpModal', { id: this.object.id, data: this.object })
    },
    handleDelete ($event) {
      this.stop($event)
      const confirmDeleteFile = confirm(`You want to delete ${this.object.title} ?`)

      if (confirmDeleteFile === false) return
      return this.deletePasswordSeed(this.object.id)
    },
    handleCopy ($event) {
      this.stop($event)

      this.copied = true

      setTimeout(() => {
        this.copied = false
      }, 2000)
    }
  }
}
</script>

<style scoped>

  >>> div.icon > i.q-icon {
    display: unset;
  }

</style>
