<template>
  <div :class="`row col-12 private-file-single-wrapper ${fileLayoutConfig_layoutMode}`">
    <div class="row col-12 q-pl-lg q-pr-lg q-mb-lg justify-center">
      <div class="row col-10 bg-info text-center text-white justify-center q-pa-sm rounded-borders items-center"
           style="font-size: 13px; position:relative">
        <span><q-icon name="info"></q-icon> Maximum file size: 200MB</span>
        <span class="col-12 row justify-center"><q-icon name="info"></q-icon> Please don't reload the page while uploading.</span>
      </div>
    </div>
    <file-pond
      style="width: 100%"
      :instantUpload="true"
      ref="pond"
      label-idle="Drop files here..."
      v-bind:allow-multiple="true"
      :allowFilePoster="fileLayoutConfig_layoutMode === 'thumbnail'"
      :allowImagePreview="false"
      :allowFileTypeValidation="false"
      :allowFileSizeValidation="true"
      :allowRevert="false"
      :server="server"
      v-bind:files="fileView"
      :maxParallelUploads="100"
      :maxFileSize="'200MB'"
      @addfile="onAddFile"
      @removefile="onRemoveFile"
      @processfiles="handleDoneUploadFile"
    />
    <div v-show="false">

      <file-actions-component @removeFile="removeFileLocal" :ref="`fileAction${file.id}`"
                              v-for="file in fileReflectsComputed" :file="file"
                              :key="file.id"/>
    </div>
  </div>
</template>

<script>
// Import Vue FilePond
import vueFilePond from 'vue-filepond'

// Import FilePond styles
import 'filepond/dist/filepond.min.css'

// Import the plugin styles
import 'filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css'
// Import FilePond plugins
// Please note that you need to install these plugins separately

// Import image preview and file type validation plugins
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type'
import FilePondPluginFileValidateSize from 'filepond-plugin-file-validate-size'

// Import the plugin code
import FilePondPluginFilePoster from 'filepond-plugin-file-poster'

// import { chunkFilesAndUpload, convertFileBufferToBase64, queryFile } from '../../../../services/utils'
// eslint-disable-next-line no-unused-vars
import {
  constructFileRecord,
  extractFileAndBuffer,
  MAX_CONCURRENT_LIMIT,
  MAX_FILE_SIZE
} from '../../../../services/utils'
import { mapActions, mapGetters, mapState, mapMutations } from 'vuex'
// eslint-disable-next-line import/default
import UploadWorker from '../../../../worker/instances/upload.worker'
import UploadWorkerService from '../../../../worker/services/upload.appside'
import { FileActionsComponent } from '../../../../services/composition'
// Create component
const FilePond = vueFilePond(FilePondPluginFilePoster, FilePondPluginFileValidateType, FilePondPluginFileValidateSize)

import $ from 'jquery'
import _ from 'lodash'

export default {
  name: 'PrivateFileSingle',
  data: function () {
    return {
      fileHandlerMapper: {},
      worker: new UploadWorker(),
      server: {
        process: this.handleUploadFile
      },
      fileReflects: {}
    }
  },
  computed: {
    ...mapGetters('app', [
      'fileView',
      'progressBarDataWithoutDownload'
    ]),
    ...mapState('app', [
      'fileLayoutConfig_layoutMode'
    ]),
    fileReflectsComputed () {
      return Object.keys(this.fileReflects).map(fileId => this.fileReflects[fileId])
    }
  },
  watch: {
    progressBarDataWithoutDownload (val, oldVal) {
      console.log('trigger watch progress')
      if (val.length === 0) this.handleFetchFiles()
    }
  },
  mounted () {
    window.file = this

    const fileInstance = this

    this.worker.addEventListener('message', function (event) {
      // eslint-disable-next-line no-unused-vars
      const { taskName, data, options } = event.data

      if (taskName in UploadWorkerService) UploadWorkerService[taskName](this, data, { ...options, fileInstance })
    })
  },
  methods: {
    ...mapActions('app', [
      'createFile',
      'fetchFiles',
      'deleteFileRecord',
      'updateFileStatus'
    ]),
    ...mapMutations('app', [
      'setFileToProgressBar',
      'removeProgress'
    ]),
    handleFetchFiles: _.debounce(function () {
      console.log('trigger fetch files')
      this.fetchFiles()
    }, 250),
    handleDoneUploadFile () {
      if (this.progressBarDataWithoutDownload.length === 0) this.handleFetchFiles()
    },
    removeFileLocal (fileId) {
      try {
        const filePondId = this.$refs.pond.getFiles().filter(elm => elm.source.fileId === fileId)[0].id
        this.$refs.pond.removeFile(filePondId)
      } catch (err) {
        console.log(err)
      }
    },
    onAddFile (doing, file) {
      this.$set(this.fileReflects, file.id, file)
      requestAnimationFrame(() => {
        try {
          const el = this.$refs[`fileAction${file.id}`][0].$el
          $(el).insertAfter(`#filepond--item-${file.id} > fieldset`)
        } catch (err) {
          console.log(err)
        }
      })
    },
    onRemoveFile (doing, file) {
      console.log('trigger delete file')
      try {
        const el = this.$refs[`fileAction${file.id}`][0]
        el.$destroy()
        $(el.$el).remove()
      } catch (err) {
        console.log(err)
      }

      delete this.$refs[`fileAction${file.id}`]
      delete this.fileReflects[file.id]
      delete this.fileHandlerMapper[file.source.fileId]
    },
    callUploadAtWorker (file) {
      extractFileAndBuffer(file).then(data => {
        const worker = this.worker
        //
        const bufferData = {
          taskName: 'handleFileBuffer',
          data,
          options: { MAX_FILE_SIZE, MAX_CONCURRENT_LIMIT }
        }

        if (worker) {
          console.debug('before send to worker', bufferData.data.fileBuffer.byteLength)
          worker.postMessage(bufferData, [bufferData.data.fileBuffer])
          console.debug('after send to worker', bufferData.data.fileBuffer.byteLength)
        }
      })
    },
    handleUploadFile (fieldName, file, metadata, load, error, progress, abort, transfer, options) {
      let abortPromise = null

      const handleAbort = (promise) => {
        abortPromise = promise
      }

      progress(false)

      let count = 0

      const progressHandler = (fragments) => {
        return () => {
          count++
          return progress(true, count, fragments)
        }
      }

      const fileRecord = constructFileRecord(file)

      this.setFileToProgressBar({ fileId: fileRecord.fileId, status: 'uploading', fileName: fileRecord.fileName })

      this.$set(
        this.fileHandlerMapper,
        fileRecord.fileId,
        { error, handleAbort, progressHandler, removeFileLocal: this.removeFileLocal, load, fileRecord }
      )

      this.callUploadAtWorker(fileRecord)

      return {
        abort: () => {
          const confirmDeleteFile = confirm(`You want to abort uploading ${fileRecord.fileName} ?`)

          if (confirmDeleteFile === false) return
          // This function is entered if the user has tapped the cancel button
          if (abortPromise !== null) abortPromise().then(() => abort())
        }
      }
    }
  },
  components: {
    FilePond,
    FileActionsComponent
  }
}
</script>

<style>
  div.private-file-single-wrapper.thumbnail ul.filepond--list > li.filepond--item {
    width: 150px;
    height: 150px;
  }

  /*div.private-file-single-wrapper.thumbnail ul.filepond--list > li.filepond--item {*/
  /*  width: calc(16.7% - .5em);*/
  /*  height: calc(16.7% - .5em);*/
  /*}*/

  div.private-file-single-wrapper.list ul.filepond--list > li.filepond--item {
    width: calc(100% - .5em);
    height: 50px !important;
  }

  ul.filepond--list > li.filepond--item {
    cursor: pointer;
  }

  div.private-file-single-wrapper .filepond--file-action-button.filepond--action-remove-item {
    display: none;
  }
</style>
