<template>
  <div class="row col-12 q-pa-sm">
    <q-list padding class="row col-12 rounded-borders bg-white q-pa-md">
      <div class="row col-12" v-if="id !== null">
        <div class="col-12 row q-pr-lg q-pt-lg"
             style="border: 1px solid #ccc; border-bottom: none; padding-bottom: 42px;">
          <q-input v-model="title" outlined label="Name" class="col-4 row rounded-borders" color="white"></q-input>
          <div class="row col-8 justify-end items-center">
            <q-btn icon="check" @click="handleSaveNote" class="q-mr-md bg-primary text-white" size="md"></q-btn>
            <q-btn icon="delete" @click="handleDeleteNote" size="md" outline></q-btn>
          </div>
        </div>
        <vue-editor style="width: 100%" class="rounded-borders" id="editor" v-model="content" useCustomImageHandler
                    @image-added="handleImageAdded"></vue-editor>
      </div>
      <div v-else>
        It's emtpy here.
      </div>
    </q-list>
  </div>
</template>

<script>
import { VueEditor } from 'vue2-editor'
import { mapActions } from 'vuex'
import { convertFileBufferToBase64 } from '../../../../services/utils'

export default {
  components: {
    VueEditor
  },
  name: 'NoteEditor',
  data () {
    return {
      title: '',
      content: '',
      id: null,
      note: null
    }
  },
  methods: {
    ...mapActions('app', [
      'updateNote',
      'deleteNote'
    ]),
    handleSaveNote () {
      this.updateNote({
        id: this.id, data: { content: this.content, title: this.title, pinned: this.note.pinned }
      })
    },
    handleDeleteNote () {
      const confirmDeleteFile = confirm(`You want to delete ${this.title} ?`)

      if (confirmDeleteFile === false) return

      this.deleteNote(this.id).then(() => {
        this.$emit('deleteNote', this.id)
        this.reset()
      })
    },
    load (note) {
      // call reset
      this.reset()

      if (note !== null) {
        this.id = note.id
        this.title = note.title
        this.content = note.content
        this.note = note
      }
    },
    reset () {
      this.id = null
      this.title = ''
      this.content = ''
      this.note = null
    },
    handleImageAdded: function (file, Editor, cursorLocation, resetUploader) {
      // An example of using FormData
      // NOTE: Your key could be different such as:
      // formData.append('file', file)
      file.arrayBuffer().then(buffer => {
        // let base64String = btoa(String.fromCharCode(...new Uint8Array(buffer)))

        Editor.insertEmbed(cursorLocation, 'image', convertFileBufferToBase64(buffer, file.fileType))
        resetUploader()
      })
    }
  }
}
</script>

<style scoped>
  >>> div#editor {
    height: 40vh;
  }

  >>> div.q-field__label {
    font-weight: bold;
    padding-bottom: 15px;
    color: darkblue !important;
  }

  >>> div.q-field__control:before {
    border: unset !important;
  }

</style>
