<template>
  <otp-list/>
</template>

<script>
import OtpList from '../components/App/OtpDisplay/OtpList/Index'

export default {
  name: 'OtpDisplay',
  components: { OtpList }
}
</script>

<style scoped>

</style>
