<template>
  <q-page class="bg-gradient-grey q-pa-sm">
    <div class="row col-12 items-center q-mb-lg q-mt-md">
<!--      <h1>Hello World</h1>-->
    </div>

<!--    <div class="row col-12">-->
<!--      <app-footer/>-->
<!--    </div>-->

  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
  // eslint-disable-next-line vue/no-unused-components
}
</script>
