<template>
  <note-display/>
</template>

<script>
import NoteDisplay from '../components/App/NoteDisplay/Index'

export default {
  name: 'Note',
  components: { NoteDisplay }
}
</script>

<style scoped>

</style>
