<template>
  <password-list/>
</template>

<script>
import PasswordList from '../components/App/PasswordDisplay/PasswordList/Index'

export default {
  name: 'Password',
  components: { PasswordList }
}
</script>

<style scoped>

</style>
