<template>
<private-file-display/>
</template>

<script>
import PrivateFileDisplay from '../components/App/PrivateFileDisplay/Index'
export default {
  name: 'PrivateFile',
  components: { PrivateFileDisplay }
}
</script>

<style scoped>

</style>
