<template>
  <div class="row col-12 q-pa-lg">
    <div>
      <h4 class="q-mb-lg">PrivaKeeper Terms of Service</h4>

      <div class="q-mt-lg q-pl-lg">
        <div>
          <h5>1. Terms</h5>
          <p>By accessing the website at <a href="https://privakeeper.com">https://privakeeper.com</a>, you are
            agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are
            responsible for
            compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited
            from using or accessing this site. The materials contained in this website are protected by applicable
            copyright and trademark law.</p>
          <h5>2. Use License</h5>
          <ol>
            <li>Permission is granted to temporarily download one copy of the materials (information or software) on
              PrivaKeeper's website for personal, non-commercial transitory viewing only. This is the grant of a
              license, not a transfer of title, and under this license you may not:
              <ol class="q-pl-lg q-mt-lg q-mb-lg">
                <li>(1) modify or copy the materials;</li>
                <li>(2) use the materials for any commercial purpose, or for any public display (commercial or
                  non-commercial);
                </li>
                <li>(3) attempt to decompile or reverse engineer any software contained on PrivaKeeper's website;</li>
                <li>(4) remove any copyright or other proprietary notations from the materials; or</li>
                <li>(5) transfer the materials to another person or "mirror" the materials on any other server.</li>
              </ol>
            </li>
            <li>This license shall automatically terminate if you violate any of these restrictions and may be
              terminated by PrivaKeeper at any time. Upon terminating your viewing of these materials or upon the
              termination of this license, you must destroy any downloaded materials in your possession whether in
              electronic or printed format.
            </li>
          </ol>
          <h5>3. Disclaimer</h5>
          <ol>
            <li>The materials on PrivaKeeper's website are provided on an 'as is' basis. PrivaKeeper makes no
              warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without
              limitation,
              implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement
              of intellectual property or other violation of rights.
            </li>
            <li>Further, PrivaKeeper does not warrant or make any representations concerning the accuracy, likely
              results, or reliability of the use of the materials on its website or otherwise relating to such materials
              or on
              any sites linked to this site.
            </li>
          </ol>
          <h5>4. Limitations</h5>
          <p>In no event shall PrivaKeeper or its suppliers be liable for any damages (including, without limitation,
            damages for loss of data or profit, or due to business interruption) arising out of the use or inability to
            use the materials on PrivaKeeper's website, even if PrivaKeeper or a PrivaKeeper authorized representative
            has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not
            allow
            limitations on implied warranties, or limitations of liability for consequential or incidental damages,
            these limitations may not apply to you.</p>
          <h5>5. Accuracy of materials</h5>
          <p>The materials appearing on PrivaKeeper's website could include technical, typographical, or photographic
            errors. PrivaKeeper does not warrant that any of the materials on its website are accurate, complete or
            current.
            PrivaKeeper may make changes to the materials contained on its website at any time without notice. However
            PrivaKeeper does not make any commitment to update the materials.</p>
          <h5>6. Links</h5>
          <p>PrivaKeeper has not reviewed all of the sites linked to its website and is not responsible for the contents
            of
            any such linked site. The inclusion of any link does not imply endorsement by PrivaKeeper of the site. Use
            of
            any such linked website is at the user's own risk.</p>
          <h5>7. Modifications</h5>
          <p>PrivaKeeper may revise these terms of service for its website at any time without notice. By using this
            website
            you are agreeing to be bound by the then current version of these terms of service.</p>
          <h5>8. Governing Law</h5>
          <p>These terms and conditions are governed by and construed in accordance with the laws of Brazil, Minas
            Gerais and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
        </div>
      </div>
    </div>

    <div class="q-mt-lg">
      <div>
        <h4 class="privacy-title q-mb-lg">Privakeeper Privacy Policy</h4>

        <div class="q-pl-lg q-mt-lg">
          <p class="q-mb-md">Your privacy is important to us. It is PrivaKeeper's policy to respect your privacy
            regarding any information we
            may collect from you across our website, <a
              href="https://privakeeper.com">https://privakeeper.com</a>, and other sites
            we own and operate.</p>
          <p class="q-mb-md">We only ask for personal information when we truly need it to provide a service to you. We
            collect it by
            fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how
            it will be used.</p>
          <p class="q-mb-md">We only retain collected information for as long as necessary to provide you with your
            requested service.
            What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as
            unauthorised access, disclosure, copying, use or modification.</p>
          <p class="q-mb-md">We don’t share any personally identifying information publicly or with third-parties,
            except when required
            to by law.</p>
          <p class="q-mb-md">Our website may link to external sites that are not operated by us. Please be aware that we
            have no control
            over the content and practices of these sites, and cannot accept responsibility or liability for their
            respective privacy policies.</p>
          <p class="q-mb-md">You are free to refuse our request for your personal information, with the understanding
            that we may be
            unable to provide you with some of your desired services.</p>
          <p class="q-mb-md">Your continued use of our website will be regarded as acceptance of our practices around
            privacy and
            personal information. If you have any questions about how we handle user data and personal information, feel
            free to contact us.</p>
          <p class="q-mb-md">This policy is effective as of 01 December 2019.</p></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style scoped>
  h1, h2, h3, h4, h5 {
    margin-bottom: 10px;
    margin-top: 10px
  }

  p {
    color: inherit;
  }
</style>
