<template>
  <q-drawer :value="true" show-if-above :mini="miniState" :breakpoint="500" :width="250"
            content-class="drawer-background text-bold text-grey-3 text-drawer"
  >
    <q-list padding>
      <q-tooltip>Drag to sort items</q-tooltip>

      <q-item clickable v-ripple @click="miniState = !miniState" class="q-mb-lg">
        <q-item-section avatar>
          <q-icon name="menu"/>
        </q-item-section>

        <q-item-section>
          Collapse
        </q-item-section>
      </q-item>
      <draggable v-model="drawerModel">
        <q-item v-for="(item) in drawerModel" :key="item.path" :to="item.path" clickable v-ripple>
          <q-item-section avatar class="q-pr-none">
            <q-icon :name="item.icon"/>
          </q-item-section>

          <q-item-section>
            {{ item.name }}
          </q-item-section>
        </q-item>
      </draggable>
    </q-list>

    <q-list padding class="absolute-bottom">
      <!--      <q-item to="/account" clickable v-ripple>-->
      <!--        <q-item-section avatar>-->
      <!--          <q-icon name="settings"/>-->
      <!--        </q-item-section>-->

      <!--        <q-item-section>-->
      <!--          Accounts Settings-->
      <!--        </q-item-section>-->
      <!--      </q-item>-->

      <q-item clickable to="/term">
        <q-item-section avatar v-show="miniState === true">
        <q-icon name="policy"/>
      </q-item-section>

        <q-item-section v-show="miniState === false" style="text-decoration: underline;">
          Terms & Privacy Policy
        </q-item-section>
      </q-item>

      <q-item clickable @click="navigateHome" exact>

        <q-item-section avatar v-show="miniState === true">
          <q-icon name="copyright"/>
        </q-item-section>

        <q-item-section v-show="miniState === false">
          <div class="row items-center" style="font-size: 13px">
            <q-icon name="copyright" class="q-mr-sm"/>
            PrivaKeeper
          </div>
        </q-item-section>
      </q-item>
    </q-list>
  </q-drawer>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import draggable from 'vuedraggable'

export default {
  name: 'Drawer',
  components: {
    draggable
  },
  computed: {
    ...mapState('app', [
      'drawerMenu'
    ]),
    drawerModel: {
      get () {
        return this.drawerMenu
      },
      set (val) {
        this.setDrawer(val)
      }
    }
  },
  methods: {
    ...mapMutations('app', [
      'setDrawer'
    ]),
    navigateHome () {
      window.open(`https://${window.location.host}`, '_self')
    }
  },
  data () {
    return {
      miniState: false
    }
  }
}
</script>

<style scoped>
  >>> .drawer-background {
    background: #3C4A54;
  }

  >>> .text-drawer {
    font-size: 16px !important;
  }

  >>> a.q-router-link--active {
    color: #00c586;
  }
</style>
