<template>
  <div class="row col-12 items-center q-pa-lg">
    <div class="col-6 items-center row">
      <span class="text-h5 text-bold">{{ routeName }} ({{summaryFileUsage}} / 10GB)
       <q-tooltip>
          We currently support at maximum 10GB of your storage
        </q-tooltip>
      </span>
      <q-btn icon="replay" class="q-ml-md" flat :disable="progressBarDataWithoutDownload.length !== 0" @click="handleRefresh">
        <q-tooltip>{{ progressBarDataWithoutDownload.length === 0 ?
          'Refresh' :
          'Please wait until there is no file(s) in progress' }}
        </q-tooltip>
      </q-btn>
    </div>

    <div class="col-6 row items-center justify-end q-pr-lg">

<!--      <q-btn-toggle-->
<!--        v-model="currentLayoutMode"-->
<!--        toggle-color="dark"-->
<!--        class="no-shadow q-mr-lg"-->
<!--        :options="[-->
<!--          {icon: 'widgets', value: 'thumbnail'},-->
<!--          {icon: 'list', value: 'list'}-->
<!--        ]"-->
<!--      />-->
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState, mapGetters, mapActions } from 'vuex'
import _ from 'lodash'
export default {
  name: 'PrivateFileFilter',
  methods: {
    ...mapMutations('app', [
      'setFileLayoutConfigLayoutMode'
    ]),
    ...mapActions('app', [
      'fetchFiles'
    ]),
    openOtpModalToCreate () {
      this.$root.$emit('openOtpModal', { id: null })
    },
    handleFetchFiles: _.debounce(function () {
      console.log('trigger fetch files')
      this.fetchFiles()
    }, 250),
    handleRefresh () {
      this.handleFetchFiles()
    },
    handleUpgrade () {
      window.open(`mailto:hello@privakeeper.com?subject=Upgrade space - ${this.userDisplayName}`, '_blank')
    }
  },
  data () {
    return {
      dialogFlag: false
    }
  },
  computed: {
    ...mapState('app', [
      'fileLayoutConfig_layoutMode'
    ]),
    ...mapGetters('app', [
      'summaryFileUsage',
      'progressBarDataWithoutDownload',
      'userDisplayName'
    ]),
    routeName () {
      return this.$route.meta.name
    },
    currentLayoutMode: {
      get () {
        return this.fileLayoutConfig_layoutMode
      },
      set (val) {
        this.setFileLayoutConfigLayoutMode(val)
      }
    }
  }
}
</script>

<style scoped>

</style>
