<template>
  <q-dialog v-model="dialogFlag" persistent>
    <q-card style="width: 380px">
      <div class="col-12 row safe q-pr-lg q-pl-lg" id="secret-code" style="height: 200px; width: 100%">
        <q-input :type="passwordVisibile ? 'text' : 'password'"
                 class="col-12 row text-bold"
                 outlined color="white"
                 v-model="password"
                 label="Password"
        >
          <template v-slot:append>
            <q-icon
              v-clipboard="password"
              color="white"
              :name="copied === false ? 'file_copy' : 'check'"
              :disabled="copied"
              class="cursor-pointer q-mr-sm"
              @click="handleClickCopy"
            />

            <q-icon
              color="white"
              :name="passwordVisibile ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="passwordVisibile = !passwordVisibile"
            />
          </template>
        </q-input>
      </div>

      <q-card-section>

        <div class="row col-12 items-center q-pr-sm q-pl-sm">
          <div class="row col-12">
            <q-input color="secondary" class="text-dark col-12" outlined label="Title"
                     v-model="title"></q-input>
          </div>
        </div>

      </q-card-section>

      <q-card-section>

        <div class="row col-12 items-center q-pr-sm q-pl-sm">
          <div class="row col-12">
            <q-input color="secondary" class="text-dark col-12" outlined label="Account/Username/Email"
                     v-model="account">

            </q-input>
          </div>
        </div>
      </q-card-section>

      <q-card-section>

        <div class="row col-12 items-center q-pr-sm q-pl-sm">
          <div class="row col-12">
            <q-input color="secondary" class="text-dark col-12" outlined label="Website Url"
                     v-model="url">

            </q-input>
          </div>
        </div>
      </q-card-section>

      <q-card-section>

        <div class="row col-12 items-center q-pr-sm q-pl-sm">
          <div class="row col-12">
            <q-select
              class="col-12 row"
              color="secondary"
              label="Folder"
              outlined
              v-model="folder"
              use-input
              use-chips
              input-debounce="0"
              :options="folderOptions"
              @new-value="createValue"
              @filter="filterFn"
            ></q-select>
            <div class="card-subtitle q-pl-md q-pt-md text-grey-6" style="font-size: 12px">
               Press "Enter" to create new folder
            </div>
          </div>
        </div>
      </q-card-section>

      <q-separator/>

      <q-card-actions class="q-pa-lg justify-end">
        <q-btn outline icon="close" @click="hide"/>
        <q-btn @click="submit" class="bg-gradient-green text-white" icon="check"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'PasswordCreateOrUpdate',
  mounted () {
    window.modal = this
  },
  methods: {
    ...mapActions('app', [
      'createPasswordSeed',
      'updatePasswordSeed'
    ]),
    fetchData (id, object) {
      console.log('fetch')
      this.$set(this, 'id', id)
      this.$set(this, 'url', object.url)
      this.$set(this, 'password', object.password)
      this.$set(this, 'title', object.title)
      this.$set(this, 'account', object.account)
      this.$set(this, 'folder', object.folder)
    },
    resetData () {
      console.log('reset')
      this.url = ''
      this.password = ''
      this.title = ''
      this.account = ''
      this.folder = 'null'
      this.passwordVisibile = false
      this.copied = false
      this.id = null
    },
    show ({ id, data }) {
      if (id !== null) {
        this.fetchData(id, data)
      } else this.resetData()
      this.dialogFlag = true
    },
    hide () {
      this.resetData()
      this.dialogFlag = false
    },
    submit () {
      const submittedData = {
        password: this.password.trim(),
        title: this.title.trim(),
        account: this.account.trim(),
        folder: this.folder ? this.folder.trim() : 'null',
        url: this.url.trim()
      }

      if (this.id === null) {
        return this.createPasswordSeed(submittedData).then(() => this.hide())
      }

      return this.updatePasswordSeed({ id: this.id, data: submittedData }).then(() => this.hide())
    },
    handleClickCopy () {
      if (this.copied === false) {
        this.copied = true

        setTimeout(() => {
          this.copied = false
        }, 2000)
      }
    },
    createValue (val, done) {
      // Calling done(var) when new-value-mode is not set or "add", or done(var, "add") adds "var" content to the model
      // and it resets the input textbox to empty string
      // ----
      // Calling done(var) when new-value-mode is "add-unique", or done(var, "add-unique") adds "var" content to the model
      // only if is not already set
      // and it resets the input textbox to empty string
      // ----
      // Calling done(var) when new-value-mode is "toggle", or done(var, "toggle") toggles the model with "var" content
      // (adds to model if not already in the model, removes from model if already has it)
      // and it resets the input textbox to empty string
      // ----
      // If "var" content is undefined/null, then it doesn't tampers with the model
      // and only resets the input textbox to empty string

      if (val.length > 0) {
        if (!this.folderOptions.includes(val)) {
          this.folderOptions.push(val)
        }
        done(val, 'toggle')
      }
    },

    filterFn (val, update) {
      update(() => {
        if (val === '') {
          this.folderOptions = this.defaultOptions
        } else {
          const needle = val.toLowerCase()
          this.folderOptions = this.folderOptions.filter(
            v => v.toLowerCase().indexOf(needle) > -1
          )
        }
      })
    }
  },
  data () {
    return {
      dialogFlag: false,
      copied: false,
      id: null,
      url: '',
      password: '',
      title: '',
      account: '',
      folder: 'null',

      passwordVisibile: false,
      folderOptions: this.defaultOptions
    }
  },
  computed: {
    ...mapGetters('app', [
      'passwordSeedsFolder'
    ]),
    defaultOptions () {
      return this.passwordSeedsFolder.map(elm => {
        return elm[0] === null ? 'null' : elm[0]
      })
    }
  }
}
</script>

<style scoped>
  >>> .q-field__native {
    font-weight: bold;
  }

  #secret-code >>> .q-field__native, #secret-code >>> .q-field__label {
    color: white;
  }

  #secret-code >>> .q-field__label {
    font-size: 18px;
    font-weight: bold;
  }

  #secret-code >>> .q-field__control:before {
    border: none;
  }

  #secret-code >>> .q-field__native {
    font-size: 20px
  }

  >>> .q-field__native > .q-chip {
    margin-top: 10px;
    background: none;
    border: 1px solid green;
    border-radius: 0px;
    margin-left: 0;
  }
</style>
