// app global css in Sass form
body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

.safe
  background: #00c586

.text-safe
  color: #00c586

.clickable
  cursor: pointer

.smart-scroll:hover
   overflow-y: auto!important

.smart-scroll
  overflow-y: hidden!important
