<template>
  <div class="row col-12 items-center">
    <div class="col-6 q-pl-md">
      <span class="text-h5 text-bold">{{ routeName }}</span>
    </div>

    <div class="col-6 row items-center justify-end q-pr-lg">

      <q-btn-toggle
        v-model="currentLayoutMode"
        toggle-color="dark"
        class="no-shadow q-mr-lg"
        :options="[
          {icon: 'widgets', value: 'thumbnail'},
          {icon: 'list', value: 'list'}
        ]"
      />

      <q-btn outline @click="currentVisibility = !currentVisibility"
             :icon="currentVisibility === true ? 'visibility_off' : 'visibility'" class="q-mr-lg"/>

      <q-btn outline icon="post_add" @click="openOtpModalToCreate"/>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
  name: 'PasswordFilter',
  methods: {
    ...mapMutations('app', [
      'setPasswordConfigLayoutMode',
      'setPasswordConfigVisibility'
    ]),
    openOtpModalToCreate () {
      this.$root.$emit('openOtpModal', { id: null })
    }
  },
  data () {
    return {
      dialogFlag: false
    }
  },
  computed: {
    ...mapState('app', [
      'passwordLayoutConfig_layoutMode',
      'passwordLayoutConfig_visibility'
    ]),
    routeName () {
      return this.$route.meta.name
    },
    currentLayoutMode: {
      get () {
        return this.passwordLayoutConfig_layoutMode
      },
      set (val) {
        this.setPasswordConfigLayoutMode(val)
      }
    },
    currentVisibility: {
      get () {
        return this.passwordLayoutConfig_visibility
      },
      set (visibility) {
        this.setPasswordConfigVisibility(visibility)
      }
    }
  }
}
</script>

<style scoped>

</style>
