<template>
  <div class="col-12 row">

    <div class="row col-12 q-pl-lg q-pr-lg q-pt-lg">
      <div class="q-pr-lg q-pl-sm col-12 row">
        <password-filter/>

        <component class="q-mb-md"
                   :is="passwordLayoutConfig_layoutMode === 'thumbnail' ? PasswordThumbnailListView : PasswordDetailListView"
        />
      </div>
    </div>

    <q-drawer :width="250" :value="true" side="right" class="items-center fixed-right">

      <q-list class="col-12 absolute-center" style="width: 200px; height: 60vh; overflow-y: auto">
        <password-list-label :enable-scroll="true" :id="index" :title="item[0]" :count-items="item[1]" :key="index"
                        v-for="(item, index) in passwordSeedsFolder"/>
      </q-list>

    </q-drawer>

    <password-create-or-update ref="otpDialog"/>

  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import PasswordFilter from '../PasswordFilter/Index'
import PasswordListLabel from './PasswordListLabel'
import PasswordCreateOrUpdate from '../PasswordCreateOrUpdate/Index'
import PasswordThumbnailListView from './PasswordThumbnailListView'
import PasswordDetailListView from './PasswordDetailListView'
export default {
  name: 'PasswordList',
  components: { PasswordCreateOrUpdate, PasswordListLabel, PasswordFilter },
  // eslint-disable-next-line vue/no-unused-components
  mounted () {
    this.$root.$on('openOtpModal', this.handleOpenOtpModal)
    this.$root.$on('closeOtpModal', this.handleCloseOtpModal)
  },
  beforeDestroy () {
    this.$root.$off('openOtpModal')
    this.$root.$off('closeOtpModal')
  },
  methods: {
    handleOpenOtpModal ({ id, data }) {
      this.$refs.otpDialog.show({ id, data })
    },
    handleCloseOtpModal () {
      this.$refs.otpDialog.hide()
    }
  },
  computed: {
    ...mapGetters('app', [
      'passwordSeedsFolder'
    ]),
    ...mapState('app', [
      'passwordLayoutConfig_layoutMode'
    ]),
    PasswordThumbnailListView () {
      return PasswordThumbnailListView
    },
    PasswordDetailListView () {
      return PasswordDetailListView
    }
  }
}
</script>

<style scoped>

</style>
