<template>
  <div class="row col-12 bg-grey-3 q-mt-lg q-pa-md rounded-borders">
    <div class="row col-12" v-if="passwordSeedsView.length > 0">

      <div :id="index" class="row col-12 q-mt-lg" :key="index"
           v-for="(dataSet, index) in passwordSeedsView">
        <password-list-label :title="dataSet[0]" :count-items="dataSet[1].length"/>
        <password-detail v-for="(object) in dataSet[1]" :object="object" :key="object.id"/>
      </div>
    </div>

    <div v-else>
      Your passwords directory is empty. Create one!
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import PasswordListLabel from './PasswordListLabel'
import PasswordDetail from '../PasswordSingle/OtpDetail'

export default {
  name: 'PasswordDetailListView',
  components: { PasswordDetail, PasswordListLabel },
  computed: {
    ...mapGetters('app', [
      'passwordSeedsView'
    ])
  }
}
</script>

<style scoped>

</style>
