<template>
  <div class="fixed-bottom-right bg-grey-4 q-pa-sm rounded-borders"
       style="width: 350px; height: auto; margin-right: 30px">
    <q-btn class="absolute-top-right"
           :icon="maximize === true ? 'minimize' : 'open_in_new'"
           @click="maximize = !maximize"
           flat
    />
    <div class="clickable q-pl-md text-weight-bold" @click="maximize = !maximize">{{progressBarData.length}} file(s) in progress ...</div>
    <q-list padding class="full-height smart-scroll" v-show="maximize" style="max-height: 40vh;">
      <q-item :key="fileProgress.id" v-for="fileProgress in progressBarData">
        <q-item-section avatar style="text-transform: capitalize" class="col-5">
          {{fileProgress.status}} ...
        </q-item-section>
        <q-item-section class="ellipsis col-5">
          {{fileProgress.fileName}}
          <q-tooltip>
            {{fileProgress.fileName}}
          </q-tooltip>
        </q-item-section>
        <q-item-section>
          <q-spinner :thickness="6" color="white" size="2em"/>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'FileProgressBar',
  computed: {
    ...mapGetters('app', [
      'progressBarData'
    ])
  },
  data () {
    return {
      maximize: true
    }
  }
}
</script>

<style scoped>

</style>
