<template>
  <div class="row col-12">
      <private-file-single/>
  </div>
</template>

<script>
import PrivateFileSingle from '../PrivateFileSingle/Index'

export default {
  name: 'PrivateFileContainer',
  components: { PrivateFileSingle }
}
</script>

<style scoped>

</style>
