<template>
  <q-header class="nav-bar-bg no-shadow">
    <q-toolbar class="col-12 q-pl-lg q-pr-lg" style="height: 70px">
      <div class="q-pl-lg row items-center">
        <q-toolbar-title @click="navigateHome" class="text-h6 clickable text-bold">PrivaKeeper</q-toolbar-title>

        <img width="50px" height="50px" src="~assets/app-icon.png"/>

        <q-input rounded borderless
                 icon="search"
                 class="rounded-borders q-ml-lg bg-grey-2 q-pl-lg q-pr-lg"
                 v-model="searchQuery" :placeholder="`search ${$route.meta.name.toLowerCase()} ...`"
                 style="width: 400px; height: 45px"
                 clearable
        >
          <template v-slot:prepend>
            <q-icon name="search"/>
          </template>

        </q-input>

        <div class="row items-center absolute-right">
          <profile-thumbnail/>
        </div>

      </div>
    </q-toolbar>
  </q-header>
</template>

<script>
import ProfileThumbnail from './ProfileThumbnail'
import { mapState, mapMutations } from 'vuex'
import _ from 'lodash'
export default {
  name: 'NavBar',
  components: { ProfileThumbnail },
  methods: {
    ...mapMutations('app', [
      'setSearchTerm'
    ]),
    navigateHome () {
      window.open(`https://${window.location.host}`, '_self')
    }
  },
  computed: {
    ...mapState('app', [
      'searchTerm'
    ]),
    searchQuery: {
      get () {
        return this.searchTerm
      },
      set (val) {
        this.handleInput(val)
      }
    }
  },
  mounted () {
    this.handleInput = _.debounce((val) => {
      this.setSearchTerm(val)
    })
  },
  data () {
    return {
      handleInput: null
    }
  }
}
</script>

<style scoped>
  .nav-bar-bg {
    background: #00c586
  }

  >>>.q-field__native{
    font-weight: bold;
  }
</style>
