<template>
  <div class="col-12">
    <div class="float-right q-pr-lg text-white col-12 rounded-borders">
      <q-btn flat icon="exit_to_app" class="rounded-borders" v-if="isUserSignedIn === false" @click="redirectLogin"></q-btn>
      <div v-else class="row text-center items-center justify-center flex col-12 clickable" @click.native="menuFlag = !menuFlag">
        <q-img :src="userAvatar" class="q-mr-sm"
               style="border-radius: 50%; background: white; height: 50px; width: 50px"></q-img>
        <span class="text-weight-bold">{{userDisplayName}}</span>
        <q-menu v-model="menuFlag" fit content-class="user-menu">
          <q-list>
            <q-item clickable v-close-popup @click="navigateProfile">
              <q-item-section class="text-weight-bold">Blockstack Profile</q-item-section>
            </q-item>
            <q-item clickable v-close-popup @click="signOut">
              <q-item-section class="text-weight-bold">Sign Out</q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </div>
    </div>

  </div>

</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'ProfileThumbnail',
  data () {
    return {
      menuFlag: false
    }
  },
  computed: {
    ...mapGetters('app', [
      'isUserSignedIn',
      'userAvatar',
      'userDisplayName'
    ])
  },
  methods: {
    ...mapActions('app', [
      'handleSignin',
      'signOut'
    ]),
    redirectLogin () {
      return this.$userSession.redirectToSignIn(`https://${window.location.host}/home`)
    },
    navigateProfile () {
      window.open('https://browser.blockstack.org/profiles', '_blank')
    }
  }
}
</script>

<style>
  div.user-menu {
    min-width: 150px!important;
  }
</style>
