<template>
  <div id="q-app">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style scoped lang="scss">
  @import "assets/css/main.css";
  @import "assets/css/util.css";
</style>
