<template>
  <q-layout view="lHh LPr lFr">
    <q-page-container class="q-pb-lg absolute full-width full-height bg-grey-3"
                      style="padding-left: 150px; padding-right: 150px;"
                      id="page-container">
      <div class="row col-12 q-mb-lg header justify-end q-pr-lg q-pt-lg">
        <div class="row col-6">
          <img style="width: 15vh; height: 15vh" src="~assets/app-icon.png" alt="IMG">
          <div class="row col-12 q-mt-md">
            <h5><span class="safe text-white rounded-borders text-weight-bold q-pl-sm q-pr-sm">Priva</span><span class="text-weight-bold">Keeper</span>
            </h5>
          </div>
        </div>
        <div class="row col-6 justify-end">
          <div class="q-pr-lg q-mr-lg q-pt-lg">
            <router-link class="text-safe" type="a" to="/home">
              <h6 class="text-weight-bold text-safe">Explore</h6>
            </router-link>
          </div>
        </div>
      </div>
      <div class="row col-12 page-container q-mb-lg">
        <h4 class="text-bold">PRIVATE STORAGE THAT RESPECTS YOUR PRIVACY </h4>
      </div>
      <div class="row col-12 q-pt-lg q-mt-lg page-container">
        <div class="row col-4">
          <div class="row col-12">
            <div class="row col-12">
              Keep your files, notes, 2FAs and passwords safe, encrypted and 100% private.
              <br/>
              You can upload, delete your files, add new notes, passwords or 2FAs from any desktop browsers.
              <span class="text-title text-safe">
                <router-link class="text-safe" type="a"
                             to="/home">Get started</router-link>
                <q-icon
                  name="arrow_forward"></q-icon></span>
            </div>
            <div class="row col-12 q-mt-lg">
            </div>
          </div>

        </div>
        <div class="row col-8 justify-end">
          <img style="box-shadow: -8px 24px 30px 2px #323232; height: 25vw; width: 45vw"  src="~assets/landing_image.png"
               alt="IMG">
        </div>
      </div>

      <div class="row col-12">
        <div class="row col-2">
          <router-link to="term">Terms & Privacy</router-link>
        </div>
        <div class="row col-1">
          <a href="https://trello.com/b/H73aZNnB/privakeepercom-product-roadmap" target="_blank">Roadmap</a>
        </div>
        <div class="row col-1">
          <a href="https://blog.privakeeper.com/" target="_blank">Blogs</a>
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'Landing'
}
</script>

<style scoped>
  span.text-title, span.text-title a, span.text-title i {
    /*font-size: 26px;*/
    font-size: 4vh;
    font-weight: bold;
  }

  >>> h4 {
    font-size: 4vh
  }
  >>> h5 > span {
    font-size: 3vh
  }
  >>> h6 {
    font-size: 2.5vh
  }
  >>> {
    font-size: 2vh;
  }
</style>
