<template>
  <div class="limiter">
    <div class="container-login100 bg-gradient-green">
      <div class="wrap-login100" style="padding:60px!important; align-items: center!important;">
        <div class="login100-pic js-tilt" data-tilt>
          <div class="col-12 text-center">
            <img height="150" width="150" src="~assets/app-icon.png" alt="IMG">
          </div>

          <div class="container-login100-form-btn">
            <button class="login100-form-btn bg-gradient-green" @click="redirectLogin($event)">
              Login with Blockstack
            </button>
          </div>

        </div>

        <form class="login100-form validate-form" style="width: 400px;">
          <span class="login100-form-title">Member Login</span>

          <div>
            <p class="q-mb-lg">
              PrivaKeeper is built by using Blockstack infrastructure, to provide a decentralized encrypted storage solution.
            </p>

            <p>Blockstack ID provides user-controlled login and storage that enable you to take back control of your
              identity and data.
            </p>
          </div>
          <div class="container-login100-form-btn">
            <a href="https://blockstack.org/about" target="_blank">Explore Blockstack</a>
          </div>
          <div class="container-login100-form-btn">
            <router-link to="/">Go Home</router-link>
          </div>

        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  methods: {
    redirectLogin ($event) {
      $event.preventDefault()
      $event.stopPropagation()
      return this.$userSession.redirectToSignIn(`https://${window.location.host}/home`)
    }
  }
}
</script>
