<template>
  <q-layout view="lHh LPr lFr" class="no-shadow">
    <nav-bar/>

    <drawer/>

    <q-page-container class="q-pb-lg q-mb-lg" id="page-container">
      <keep-alive include="PrivateFile">
        <router-view/>
      </keep-alive>
    </q-page-container>

    <loading-spinner/>
  </q-layout>
</template>

<script>
import Drawer from '../components/Drawer/Index'
import NavBar from '../components/NavigationBar/Index'
import OtpListLabel from '../components/App/OtpDisplay/OtpList/OtpListLabel'
import LoadingSpinner from '../components/Utils/LoadingSpinner'
import { mapActions, mapState, mapGetters } from 'vuex'

export default {
  name: 'MyLayout',
  computed: {
    ...mapState('app', [
      'drawerMenu'
    ]),
    ...mapGetters('app', [
      'isUserSignedIn'
    ])
  },
  watch: {
    'isUserSignedIn': {
      immediate: true,
      handler (val, oldVal) {
        if (window.location.pathname !== '/landing' && window.location.pathname !== '/term' &&
            val === false && !this.$userSession.isSignInPending()) return this.$router.push('/login')
      }
    }
  },
  methods: {
    ...mapActions('app', [
      'startTimer',
      'initializeData',
      'handleSignin'
    ])
  },
  async mounted () {
    window.app = this
    this.startTimer()

    try {
      await this.initializeData()
      await this.handleSignin(() => {
        this.$router.push(this.drawerMenu[0].path)
      })
    } catch (e) {
      console.log(e)
    }
    if (this.$route.path === '/home') this.$router.push(this.drawerMenu[0].path)
  },
  // eslint-disable-next-line vue/no-unused-components
  components: { LoadingSpinner, OtpListLabel, NavBar, Drawer }
}
</script>
