<template>
  <div style="position: relative;">
    <q-spinner :thickness="2" color="white" size="8em"/>
    <div width="70px" height="70px" class="text-white absolute-center text-weight-bold">
      {{ text }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppSpinner',
  props: {
    text: {
      type: String,
      default: () => ''
    }
  }
}
</script>

<style scoped>

</style>
