<template>
  <q-dialog :value="appLoading" transition-hide="fade" persistent>
    <q-spinner-puff :thickness="2" color="white" size="8em"/>
    <img width="70px" height="70px" src="~assets/app-icon.png" class="absolute-center" />
  </q-dialog>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'LoadingSpinner',
  computed: {
    ...mapState('app', [
      'appLoading'
    ])
  }
}
</script>

<style scoped>

</style>
