<template>
  <div class="col-12 row">

    <div class="row col-12 q-pl-lg q-pr-lg q-pt-lg">
      <div class="q-pr-lg q-pl-sm col-12 row">
        <otp-filter/>

        <component class="q-mb-md"
                   :is="twoLayoutConfig_layoutMode === 'thumbnail' ? OtpThumbnailListView : OtpDetailListView"
        />
      </div>
    </div>

    <q-drawer :width="250" :value="true" side="right" class="items-center fixed-right">

      <q-list class="col-12 absolute-center" style="width: 200px; height: 60vh; overflow-y: auto">
        <otp-list-label :enable-scroll="true" :id="index" :title="item[0]" :count-items="item[1]" :key="index"
                        v-for="(item, index) in twoFactorSeedsFolder"/>
      </q-list>

    </q-drawer>

    <otp-create-or-update ref="otpDialog"/>

  </div>
</template>

<script>
import OtpFilter from '../OtpFilter/Index'
import OtpDetailListView from './OtpDetailListView'
import OtpThumbnailListView from './OtpThumbnailListView'
import { mapState, mapGetters } from 'vuex'
import OtpListLabel from './OtpListLabel'
import OtpCreateOrUpdate from '../OtpCreateOrUpdate/Index'

export default {
  name: 'OtpList',
  // eslint-disable-next-line vue/no-unused-components
  components: { OtpCreateOrUpdate, OtpListLabel, OtpThumbnailListView, OtpDetailListView, OtpFilter },
  mounted () {
    this.$root.$on('openOtpModal', this.handleOpenOtpModal)
    this.$root.$on('closeOtpModal', this.handleCloseOtpModal)
  },
  beforeDestroy () {
    this.$root.$off('openOtpModal')
    this.$root.$off('closeOtpModal')
  },
  methods: {
    handleOpenOtpModal ({ id, data }) {
      this.$refs.otpDialog.show({ id, data })
    },
    handleCloseOtpModal () {
      this.$refs.otpDialog.hide()
    }
  },
  computed: {
    ...mapGetters('app', [
      'twoFactorSeedsFolder'
    ]),
    ...mapState('app', [
      'twoLayoutConfig_layoutMode'
    ]),
    OtpThumbnailListView () {
      return OtpThumbnailListView
    },
    OtpDetailListView () {
      return OtpDetailListView
    }
  }
}
</script>

<style scoped>

</style>
