<template>
  <div @click="handleScroll($event)" class="row col-12 q-mb-md clickable ellipsis" style="border-bottom: 2px solid #a0a0a0;">
      <div class="text-h6 text-grey-6">
        {{ title }} ({{countItems}})
      </div>
  </div>
</template>

<script>
export default {
  name: 'OtpListLabel',
  props: {
    enableScroll: {
      type: Boolean,
      default: () => false
    },
    id: {
      type: [String, Number],
      default: () => ''
    },
    title: {
      type: String,
      default: () => ''
    },
    countItems: {
      type: [String, Number],
      default: () => ''
    }
  },
  methods: {
    handleScroll ($event) {
      const $ = this.$
      console.log('fucl')
      $.scrollTo($(`#${this.id}`), {
        axis: 'y',
        duration: 300
      })
    }
  }
}
</script>

<style scoped>

</style>
