<template>
  <div class="row col-12 bg-grey-3 q-mt-lg q-pa-md rounded-borders">
    <div class="row col-12" v-if="twoFactorSeedsView.length > 0">

      <div :id="index" class="row col-12 q-mt-lg" :key="index"
           v-for="(dataSet, index) in twoFactorSeedsView">
        <otp-list-label :title="dataSet[0]" :count-items="dataSet[1].length"/>
        <otp-thumbnail v-for="(object) in dataSet[1]" :object="object" :key="object.id"/>
      </div>
    </div>

    <div v-else>
      Your 2FAs directory is empty. Create one!
    </div>
  </div>
</template>

<script>
import OtpThumbnail from '../OtpSingle/OtpThumbnail'
import OtpListLabel from './OtpListLabel'
import { mapGetters } from 'vuex'

export default {
  name: 'OtpThumbnailListView',
  components: { OtpListLabel, OtpThumbnail },
  computed: {
    ...mapGetters('app', [
      'twoFactorSeedsView'
    ])
  }
}
</script>

<style scoped>

</style>
